<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
<script type='text/javascript'src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
<!-- 
https://gist.github.com/haslinger/435dc92e1b2efe74c2df9afc778e29d2
-->
<div id="content">
# Pflegende Angehörige
  
[DER PLAN - alle nächsten Termine](https://demenzpflaster.wordpress.com)

[WIR - mehr über uns kann man hier erfahren.](https://wechange.de/user/87162/)

</div>
<script>
  element = document.getElementById("content");
  element.outerHTML = new showdown.Converter().makeHtml(element.innerHTML);
</script>
