<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
<script type='text/javascript'src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
<!-- 
https://gist.github.com/haslinger/435dc92e1b2efe74c2df9afc778e29d2
this means md2html
after conten ...
insert the pure markdown - page
call by http://pflegende.frama.io/reminder.html
edit by https://framagit.org/pflegende/pflegende.frama.io/-/edit/master/public/reminder.html
markdown table generator in browser https://leehanke.freeshell.net/markdown-table-generator/ 
-->
<div id="content">
  
---

[edi this()](https://framagit.org/pflegende/pflegende.frama.io/-/blob/master/public/htopetc.html) 


[this()](http://pflegende.frama.io/htopetc.html)

---

### [htop Alternativen: Danke Jens, 1.11.2024](https://www.linkedin.com/advice/1/how-do-you-manage-monitor-processes-resources-cli-skills-cli?utm_source=share&utm_campaign=copy_contribution_link&utm_medium=member_desktop&contributionUrn=urn%3Ali%3Acomment%3A%28articleSegment%3A%28urn%3Ali%3AlinkedInArticle%3A7046192412729188353%2C7046192415426117632%29%2C7238047747847696384%29&articleSegmentUrn=urn%3Ali%3AarticleSegment%3A%28urn%3Ali%3AlinkedInArticle%3A7046192412729188353%2C7046192415426117632%29&dashContributionUrn=urn%3Ali%3Afsd_comment%3A%287238047747847696384%2CarticleSegment%3A%28urn%3Ali%3AlinkedInArticle%3A7046192412729188353%2C7046192415426117632%29%29)

[cli Anmerkungen von devOps](https://www.linkedin.com/advice/1/how-do-you-manage-monitor-processes-resources-cli-skills-cli)

[cli on linkedin](https://www.linkedin.com/pulse/topics/cli-s9240/?lang=de&originalSubdomain=de)

Zu den beliebten CLI-basierten Ressourcenmonitoren gehören:

- atop: Erweiterter System- und Prozessmonitor für Linux-Systeme mit Hilfe von Prozessereignissen

- glances: Umfassende Alternative zu top/htop

- btop: Stand der Technik Ressourcenmonitor, C++ Version und Weiterführung von bashtop und bpytop

- nettop: Netzwerkmonitor, flusszentriert ähnlich wie tcpdump

Die neuesten Macos-Plattformen bieten nicht mehr die 'dtrace'-Funktion, die für das erwähnte 'iotop' erforderlich ist. Moderne Alternativen stehen über die Homebrew-Paketverwaltung zur Verfügung:

- mactop: Top-Monitor für Apple Silicon in Golang geschrieben, einschließlich GPU- und Leistungsmetriken

found 6.11.2024, 05:03, thx 2 Jens 

---  
EOF


</div>
<script>
  element = document.getElementById("content");
  element.outerHTML = new showdown.Converter().makeHtml(element.innerHTML);
</script>
