<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
<script type='text/javascript'src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
<!-- 
https://gist.github.com/haslinger/435dc92e1b2efe74c2df9afc778e29d2
this means md2html
after conten ...
insert the pure markdown - page
call by http://pflegende.frama.io/reminder.html
edit by https://framagit.org/pflegende/pflegende.frama.io/-/edit/master/public/reminder.html
markdown table generator in browser https://leehanke.freeshell.net/markdown-table-generator/ 
-->
<div id="content">
# [edi reminder](https://framagit.org/pflegende/pflegende.frama.io/-/blob/master/public/reminder.html) 
bis T: = 31.12. dayly [share](http://pflegende.frama.io/reminder.html)


### Fr. Bührlen WIR Stiftung A! zu [linkedin](https://www.linkedin.com/feed/update/urn:li:activity:7276633887995318273?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A7276633887995318273%2C7276744022914682881%29&replyUrn=urn%3Ali%3Acomment%3A%28activity%3A7276633887995318273%2C7276764678985273345%29&dashCommentUrn=urn%3Ali%3Afsd_comment%3A%287276744022914682881%2Curn%3Ali%3Aactivity%3A7276633887995318273%29&dashReplyUrn=urn%3Ali%3Afsd_comment%3A%287276764678985273345%2Curn%3Ali%3Aactivity%3A7276633887995318273%29) 23.12.2024, 16:26:34



### SHG 84% [A! -> DM.Asch v. 17.11.24 08:07](https://www.linkedin.com/messaging/?&lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3Bipg%2FNd2pRzyFqvkLl%2BVDRw%3D%3D)  

```
Was halten Sie von einem solchen 10 Punkteplan? 
Filtriere und erweitere aus meinem Konzept 
+ thüringische Erfahrung+Literatur
```

### SHG 84% [2A! linkedin /w Institut(?) ](https://www.linkedin.com/feed/update/urn:li:activity:7263588922285342720?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A7263588922285342720%2C7263677507042734080%29&replyUrn=urn%3Ali%3Acomment%3A%28activity%3A7263588922285342720%2C7263868167775571968%29&dashCommentUrn=urn%3Ali%3Afsd_comment%3A%287263677507042734080%2Curn%3Ali%3Aactivity%3A7263588922285342720%29&dashReplyUrn=urn%3Ali%3Afsd_comment%3A%287263868167775571968%2Curn%3Ali%3Aactivity%3A7263588922285342720%29)

17.11.2024, 20:05:48

### WV: SKV, ramboll A@? [/w 10.9.2025 Stz Herrenberg](https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MGpoaWlkanBjdWgxbDVpNW5hdnU1OG5hNzIgZGVtZW56LnBmbGFzdGVyQG0&tmsrc=demenz.pflaster%40gmail.com) 
update 27.11.2024, 14:34:27: 2@ 2add+gCal: MGH, Blitz e.v., 
- 1. Telko, U, Stz ok=25.11.2024, 14:30
- 2. @ ok=gCal-10.9.25=25.11.2024, 14:55:47  [skv, stz, sui, shg, ramboll]  


### SHG fb aus p30.notes @AHD (WV v. 8/24?)
16.11.2024, 14:44:48

### SHG zu H4 v. 15.11.2024 u. ... >>
- Blog! (cc v. linkedin)
- WV ob PE AGETHUR mit Cloud.kredentials und 
- WV ob PE AGETHUR mit neuer pA.Ziele f. Kommentare
- T? Telko LSR Dr. J.S.
- T? Telko Prof. F. FSU
- T? Telko Prof. W. o. Fr. D.R. FSU (-> linkedin)
- T? Telko Prof. G.
- BrainStorming HowTo AGr34% -> ASch? + ???
- ???
16.11.2024, 14:44:48

### Antw! Digitalengel (5/24) -> p30.notes 
16.11.2024, 14:34:32

### ForumDigital barcamp (Schule) - callForMeetup 2 #fdbc25 - Spwanpoint
30.10.2024, 14:35:22 #fdbc24 was on Oct.26 after #bcef24 on Oct.19./20.


### **Spwanpoint** - callForMeetup "Plan ∰"
30.10.2024, 17:00:40 #fdbc24 was on Oct.26


### Antw! an DGB "thx"  web.de 
24.09.2024 - 18:34 AW: ... 00756... z.H. Hr. M..., bzgl. "Rücknahme der Klage "

### 2d ELSTER PE <3d - 19.7.2024, 20:03:44

### Answer BaLaSa 0. C:\Users\pfleg\Downloads\temp\ThuerAupavo.html 1. pad 2. blog T was 9.7.2024 - 19.7.2024, 20:03:44

### 2d include to M1.op.Schedul: https://mailfence.com 

### T:15.5. Bgm AHD ca2dbef:25.4.2024, 13:50:02

### T! Min 22.4.2024, 15:38:37

### DGB T:30.4.  25.4.2024, 13:50:02

### @! an kontor(15.4.2024) vCard.blk-diary  21.4.2024, 15:37:11

### renew mail.ch 22.4.2024, 15:38:37

### [ubuntu git relive](https://login.launchpad.net) all p wrong on M1 9.4.2024, 11:08:21 

### wo dok f amt chmn ?

### ggf WV: 2025 [CLT](https://chemnitzer.linux-tage.de/2024/de/programm/vortraege) Anfrage GUUG @ 2NLbefore 27.2.

### DCL research: [free acc?](https://forum.vmssoftware.com/viewtopic.php?f=22&t=20&p=54&hilit=DCL+online#p54)

### DCL research: [more evangel LL by twi mov2mas](https://twitter.com/VAX2go)

### 2d Expo 25 nach Excerpt AGATHE 15.4. [Evaluation](https://www.agathe-thueringen.de/fileadmin/user_upload/AGATHE/Evaluation/AGATHE-Evaluation_Abschlussbericht.pdf) [hist an SHG](https://notebook.zohopublic.eu/public/notes/4nl3e4e0468a99d634b1080c54e6ea1e73edc) 24.2.2024, 05:50:41

### WV 2025 o bcef24 MMeV
Wir würden gern als https://wechange.de/user/87162/ 
für "intergenerationelle Medienbildung revisited" 
einen Stand reservieren. Ggf. wie gestern mit sui
 schonmal erwogen, auch einen 2ten f.d. LS8. -> Kay A Faktenforschen
 [link ff-aktionstage24](https://faktenforschen.de/ff-aktionstage24)
 [link matrix ](https://matrix.to/#/!lpvXOAqCBibWLVcujC:erfurt.chat/$170489778816174Bqxuo:erfurt.chat?via=erfurt.chat&via=matrix.org&via=magdeburg.jetzt)

### Brief! Spk.Ch f. SBZ mit Sign

### [Comment! Görgen2Schollm @Hoff "einziger hier, daher Bitte um WG ASAP"](https://www.linkedin.com/posts/gerontologieb%C3%BCro-schollmeyer-beat-e-v-besser-altern-in-th%C3%BCringen-selbsthilfe-5a52501a4_aktionstag-gegen-gewalt-in-der-pflege-im-activity-7118621277120000001-g5Pw?utm_source=share&utm_medium=member_desktop)

### DGB-next?: Artern Brief PA=5.12 DGB s.o. 30.4.24

### T:? Abholung? Rad TelKo 777 9220 [web](https://www.radscheune.de/) Übergeb. am 25.4.2024, nach 14:00

### meetup VV.GUUG T= Di. 30?.12. 20u vidko -> [ML](https://lists.guug.de/cgi-bin/mailman/listinfo/aktive)

## more

- ITA, check also now already bmarked [VMS DCL 2complete goo](https://www.google.com/search?q=openVMS+DCL+emu&newwindow=1&client=opera&sca_esv=87825aabcf9e96cb&sca_upv=1&biw=1436&bih=480&ei=eTDYZb7OCe7pi-gP7NWUyAc&ved=0ahUKEwj-7pLN4MCEAxXu9AIHHewqBXkQ4dUDCBE&uact=5&oq=openVMS+DCL+emu&gs_lp=Egxnd3Mtd2l6LXNlcnAiD29wZW5WTVMgRENMIGVtdTIFECEYoAEyBRAhGKABMgUQIRigATIFECEYoAEyBRAhGKABSOtnUKgzWIJEcAJ4AJABAJgBhwGgAd8CqgEDMS4yuAEDyAEA-AEBwgIGEAAYFhgeiAYB&sclient=gws-wiz-serp) next step without emu 23.2.2024, 13:09

- [Cordula](https://www.die-linke-thl.de/aktuelles/startseite/detail/landesfamilienfoerderplan-massnahmenpaket-sichert-ueberregionale-familienfoerderung) + [nuudel](https://nuudel.digitalcourage.de/RX98YLPPtmYI9AFdo5jnNMmV/admin) sowie Telko [Donata](https://www.donatavogtschmidt.de/)  11.2.2024, 12:40

- [DIGITALTAG24 7.6.24 15:15 LS12 - 2do: GUUGinfo; LS12info; FascoInfo](https://calendar.google.com/calendar/u/0/r/eventedit/NXExOWU0Ym5qY2hsa2JxOXI4a3M4ZmtyY28gZGVtZW56LnBmbGFzdGVyQG0) 2.2.2024, 16:35

- [gh LL tun el 2tst with fabr ](https://github.com/anderspitman/awesome-tunneling) 1.2.2024, 22:49

- [vern.cc - reg next shell](https://wiki.vern.cc/en/guides/register/) 22.1.2024, 11:31

- 2@ 2ahz 
17.1.2024, 17:44:03

Die [Vergabe wurde novelliert](https://www.die-linke-thl.de/fileadmin/lv/dokumente/parlamentsreport/2023/PR-2023-23/PR-2023-23_24-RGB-Final.pdf). Hast Du schon reinsehen können, über den neuen Text? Ist die FOSS Klausel noch weiter drin? Ich schwächel gerade. Sorry.  [S. 5]

CU


- 2T Mx -> draft txtw24 (WerNoch?)

- [VBox mit RSX 2tst](https://supratim-sanyal.blogspot.com/2023/06/hecnet-in-box-distribution-virtual.html) 28.1.2024, 15:22 

- [empfangerroehren-aus-thuringen](https://www.radiobookshop.de/empfangerrohren-aus-thuringen-und-ihre-anwendungen.html) - bestellen sobald PE pushtan spk  - 17.1.2024, 17:13

- T: 24.4.24 14u Coll Maius TMASGFF-T ~~2 Cal!~~ -> mail.ch (PE ca. 4.12.)

- Kester: 2mail added 29.11.2023, 14:16:20

- 2tst, [filebrowse und calcurse](https://codeberg.org/pflegende/pages/src/branch/main/reminder.html)

- more: sdf...task; w24:2do

- [more reminder](https://pflegende.codeberg.page/reminder.html)
  
[WIR - mehr über uns kann man hier erfahren.](https://wechange.de/user/87162/)

~go source~

</div>
<script>
  element = document.getElementById("content");
  element.outerHTML = new showdown.Converter().makeHtml(element.innerHTML);
</script>
